In [1]:
import pandas as pd

data = {
    "Name": ["Sayali", "Dhanoo", "Ankita", "Rushii"],
    "Age": [21, 27, 22, 32],
    "Salary": [50000, 40000, 30000, 20000]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

avg_age = df["Age"].mean()
avg_salary = df["Salary"].mean()

print("\nAverage Age:", avg_age)
print("Average Salary:", avg_salary)

filtered_data = df[df["Age"] > 30]
print("\nPeople Above 30:")
print(filtered_data)

Original Data:
     Name  Age  Salary
0  Sayali   21   50000
1  Dhanoo   27   40000
2  Ankita   22   30000
3  Rushii   32   20000

Average Age: 25.5
Average Salary: 35000.0

People Above 30:
     Name  Age  Salary
3  Rushii   32   20000